@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Righteous&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./pictures/valeyofend.jpg);
  /*background-repeat: no-repeat;
  background-size: 100%;
  height: 100%; */
}

header {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
align-items: center;
}
header > div {
  padding-top: 8%;
}

.logoContainer{
display: flex;
flex-direction: column;
align-items: center;
}

.logo {
  text-align: center;
  width: 40%;
  height: 40%;
}
.mainTitle {
  font-family: 'Righteous', cursive;
  margin-top: 5%;
  padding-left: 2%;
  font-size: 40px;
  font-weight: 400;
  color:orange;
  width: 80%;
  text-align: center;
  text-shadow: 10px 10px 10px 10px black;
}

h2 {
  font-size: 20pt;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  padding-left:4%;
  padding-right:4%;
}

.leaderBoardContainer {
  margin-top: 3%;
  /* display: grid;
  grid-template-rows: 25px 80fr;
  grid-template-columns: 1fr;
  column-gap: 4%;
  width: 80%; */
  padding-bottom: 10%;
}

.leadBoardHeader,
.leaderBoardBody {
  /* column-gap: 5%;
  display: grid;
  grid-template: 1fr / 1fr 1fr; */
}

.leaderBoardBody {
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column-reverse;
}

.displaySection {
  width: 100%;
  height: 100%;
}

.refreshButton {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listScoreContainer {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(248, 164, 8, 0.585);
  backdrop-filter: blur(5px);
}

.list {
  display: flex;
  flex-direction: column;
  margin:4px;
  border-radius: 4px;
  padding-top: 2%;
}

.list .item {
  list-style-type: none;
  margin-bottom: 1%;
  padding: 2%;
  font-size: 20pt;
  font-weight: bolder;
}

.even {
  background: rgba(227, 221, 221, 0.948);
  border-radius: 4px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.formItem div {
  display: flex;
  flex-direction: column;
  padding-bottom: 8%;
}

.formItem div input {
  border: 2px solid  rgb(248, 164, 8);;
  padding: 3%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.527);
  color: white;
  font-size: 15pt;
}

button {
  padding: 3%;
  border-radius: 10px;
  background: rgb(248, 164, 8);
  color: black;
  border: transparent;
  transition: all 2s;
}

button:hover {
box-shadow: 4px 4px 4px 4px black ;

}

#btnRefres {
align-self: flex-end;
}

.formItem .submitContainer {
  display: flex;
  align-items: end;
}

label {
  display: none;
}

#recenteScore {
  padding-bottom: 2%;
  color: white;
  font-size: 25pt;
  font-family: 'Righteous', cursive;
  text-shadow: 4px 4px 4px black;
}

.addScore {
  padding-bottom: 2%;
  color: white;
  font-size: 20pt;
  font-family: 'Righteous', cursive;
  text-shadow: 4px 4px 4px black;
}

.scoreHeader {
  display: none;
}